@font-face {
  font-family: 'FQ';
  src: url('../assets/default/FQ.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Serif';
  src: url('../assets/default/PT.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Serif Bold';
  src: url('../assets/default/PT-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'DIN';
  src: url('../assets/portal/DIN.woff2') format('woff2');
}

@font-face {
  font-family: 'DIN Bold';
  src: url('../assets/portal/DIN-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/mobile/Roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/mobile/Roboto_Bold.woff2') format('woff2');
}

body {
  background-color: #18181b;
  color: #d4d4d8;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  padding: 1rem;
  margin: auto;
  max-width: min-content;
  > * {
    margin-bottom: 1rem;
  }
}

p a {
  color: #06b6d4;
}

.simulator {
  margin: auto;
  container: simulator / inline-size;
  border: 1px solid black;
  padding: 1rem;
  color: black;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }

  h1,
  b,
  a {
    font-weight: normal;
  }

  section p {
    margin: 0.5rem 0;
    text-indent: 1em;
    text-align: left;
  }

  div:has(h1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .eggs {
    width: 100%;
    image-rendering: pixelated;
    overflow: hidden;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: calc(28px + 4rem);
  }

  .egg {
    text-align: center;
    img {
      display: inline;
    }
  }

  &.default {
    width: calc(705px + 2rem);
    background: url(../assets/default/scroll.jpg);
    background-size: cover;
    font: 14px/19.6px 'PT Serif', 'Times New Roman', serif;

    h1 {
      font-family: 'FQ', 'PT Serif', 'Times New Roman', serif;
      line-height: 1;
      margin-bottom: 0.5rem;
    }

    b {
      font-family: 'PT Serif Bold', 'Times New Roman', serif;
    }

    a {
      color: #44300b;
    }

    ul {
      margin: 14px 0;
    }
  }

  &.portal {
    width: calc(834px + 2rem);
    background: url(../assets/portal/tile.png);
    background-repeat: repeat;
    font: 14px 'Arial', sans-serif;

    h1 {
      color: white;
      background-color: #52a5c6;
      border: 1px solid #468fac;
      padding: 3px 6px 3px 1px;
      text-transform: uppercase;
      margin-bottom: 0.7em;
      line-height: 28px;
      font-size: 28px;
      width: min-content;
      font-family: 'DIN';
    }

    a {
      color: #2db2e6;
      text-decoration: none;
      b {
        font-weight: bold;
      }
    }

    .egg {
      font-family: 'DIN Bold';
    }
  }

  &.sixties {
    width: calc(760px + 2rem);
    background: url(../assets/sixties/paper.jpg);
    background-repeat: repeat;
    font: 11pt 'Times New Roman', 'Times', serif;

    h1 {
      font-weight: bold;
    }

    ul {
      margin: 14px 0;
    }

    a {
      color: black;
      b {
        font-weight: bold;
      }
    }
  }

  &.mobile-light,
  &.mobile-dark {
    padding: 0;
    width: calc(100vw - 3rem);
    max-width: 700px;

    font: 14px 'Roboto', Helvetica, Arial, sans-serif;

    h1 {
      font-weight: bold;
      padding: 12px 12px;
      font-size: 18px;
      line-height: 20px;
      background-color: #2562cc;
      color: white;
    }

    li {
      margin: 2px 0;
      font-size: 20px;
      line-height: 28px;
    }

    ul {
      font-size: 20px;
      margin: 12px 0;
      display: flex;
      flex-wrap: wrap;
    }

    a {
      text-decoration: none;
      color: #2562cc;
      b {
        font-family: 'Roboto Bold';
      }
    }

    section {
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 8px;
      padding: 12px;
    }
  }

  &.mobile-light {
    background-color: #eee;
  }

  &.mobile-dark {
    background-color: #13151a;
    color: white;

    section {
      background-color: #2b303a;
    }

    a {
      color: #5f9aff;
    }
  }
}

@media screen and (max-width: 600px) {
  .simulator.mobile-dark,
  .simulator.mobile-light {
    width: 100vw;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

@container simulator (max-width: 600px) {
  .mobile-dark,
  .mobile-light {
    ul {
      justify-content: flex-start;
    }
    li {
      margin: 2px 0;
      text-align: center;
      flex: 1;
      flex-basis: 50%;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.simulator-status {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  clear: both;
  color: black !important;
  a {
    color: black !important;
    text-decoration: underline !important;
    font-weight: bold;
  }
  b {
    font-weight: bold;
  }
}

.mobile-dark .simulator-status,
.mobile-light .simulator-status {
  width: calc(100% - 2rem);
  margin: 1rem;
}

.simulator {
  &.default,
  &.sixties,
  &.portal {
    .simulator-status {
      p {
        all: unset;
      }
      b {
        font: unset;
        font-weight: bold;
      }
    }
  }
}

.space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.history .table {
  display: block;
  max-width: 100%;
  overflow-y: auto;
  max-height: 200px;
  margin-bottom: 1rem;
  border: 1px solid #d4d4d8;
  margin-top: 0.5rem;
}

.history table {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  max-height: 100px;
  border-collapse: collapse;

  thead {
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: oklch(from #d4d4d8 calc(l - 0.5) c h);
  }

  tbody tr:first-of-type {
    font-weight: bold;
  }

  td {
    padding: 0.5rem;
    min-width: max-content;
    white-space: nowrap;
  }

  tr > :first-child,
  tr > :nth-child(2) {
    position: sticky;
    background-color: oklch(from #d4d4d8 calc(l - 0.625) c h);
  }

  tr > :first-child {
    left: 0;
    min-width: 30px;
  }

  tr > :nth-child(2) {
    left: 30px;
  }
}

.settings {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  select {
    width: fit-content;
  }
  input[type='checkbox'] {
    width: min-content;
  }
}

@media screen and (max-width: 600px) {
  .settings {
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
    .listbox-wrapper,
    select {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

.listbox-wrapper {
  width: fit-content;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  button {
    font-size: 0.875rem;
    min-width: max-content;
  }
}

.listbox-flyout {
  position: absolute;
  z-index: 1;
  top: calc(100% + 0.25rem);
  width: 100%;
  min-width: 150px;
  background-color: white;
  border: 1px solid;
  color: #18181b;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 150px;
  border-radius: 5px;
}

.listbox-flyout-item {
  display: flex;
  flex-direction: row;
  label {
    padding: 0.25rem;
    border-radius: 5px;
    width: 100%;
    input[type='checkbox'] {
      margin-right: 0.25rem;
    }
    &:hover,
    &.focus {
      background-color: #d4d4d8;
      cursor: pointer;
    }
  }
}
