@font-face {
  font-family: 'PT Serif';
  src: url(../assets/PTSerif-Regular.ttf);
}

.theme-default.wrapper {
  width: 750px;
  background-color: #ecddba;
  position: relative;
}

.theme-default.wrapper::before, .theme-default.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 75px;
  height: 100%;
}

.theme-default.wrapper::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0));
}

.theme-default.wrapper::after {
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,0.1), rgba(0,0,0,0));
}

.theme-default .sim {
  font-size: 14px;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
}

.theme-default .sim-eggs {
  grid-template-columns: repeat(3, 235px);
}