@font-face {
  font-family: 'DIN';
  src: url(../assets/DIN.ttf);
}

.wrapper {
  width: 870px;
  background-image: url(../assets/bg.png);
}

.sim {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.sim-eggs {
  grid-template-columns: repeat(3, 277px);
  font-family: "DIN";
  font-weight: bold;
  font-size: 15px;
}