@font-face {
  font-family: 'Roboto Condensed';
  src: url(./assets/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url(./assets/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: 'PT Serif';
  src: url(./assets/PTSerif-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(./assets/alum.png);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  max-width: min-content;
  padding: 25px;
  border-radius: 5px;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

b {
  font-weight: normal;
  font-family: 'Roboto Condensed Bold', Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  background-color: #ecddba;
  width: 750px;
  padding: 20px;
  margin-top: 20px;
}

.readybar, .catch-message {
  padding: 15px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}

.sim {
  font-size: 14px;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
}

.sim p {
  margin: 8px 0;
  text-indent: 1em;
  text-align: left;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.sim-eggs {
  display: grid;
  grid-template-columns: repeat(3, 235px);
  min-height: 100px;
}

.target-egg {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
}